<h1>Bookmark CRUD Demo</h1>

<ul>
  <% @bookmarks.each do |bookmark| %>
  <!--  "== true" is not needed -->
    <li>
      <% if bookmark.favorite == true %> * <% end %>
      <%= link_to bookmark.title, bookmark.url %>
      <%= bookmark.comment %>
    </li>
    <% end %>
</ul>

<%= link_to "Create New Bookmark", new_bookmark_path %>
